<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>AirBnB clone</title>
	<!-- favicon -->
	<link rel="shortcut icon" href="../static/images/icon.png?{{ cache_id  }}"/>
	<!-- general style sheet -->
	<link rel="stylesheet" href="../static/styles/4-common.css?{{ cache_id  }}">
	<!-- style sheet for footer section -->
	<link rel="stylesheet" href="../static/styles/3-footer.css?{{ cache_id }}">
	<!-- style sheet for heeader serction -->
	<link rel="stylesheet" href="../static/styles/3-header.css?{{ cache_id }}">
	<!-- style sheet for filter -->
	<link rel="stylesheet" href="../static/styles/6-filters.css?{{ cache_id }}">
	<!-- style sheet for places section -->
	<link rel="stylesheet" href="../static/styles/8-places.css?{{ cache_id }}">
	<!-- jquery -->
	<SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>
	<!-- javascript -->
	<script src="../static/scripts/1-hbnb.js?{{ cache_id }}"></script>
</head>
<body>
<div class="push">
	<!-- star header -->
	<header>
		<div class="logo-hbnb"></div>
	</header>
	<!-- end header -->

	<!-- start container -->
	<div class="container">
		<section class="filter">
			<div class="locations">
				<h3>States</h3>
				<h4>&nbsp;</h4>
				<ul class="popover">
					{% for state in states|sort(attribute="name") %}
					<li><h2 class="mb-0 fs-16px">{{ state.name }}:</h2></li>
					<li>
						<ul>
							{% for city in state.cities|sort(attribute="name") %}
							<li>{{ city.name }}</li>
							{% endfor %}
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div class="amenities">
				<h3>Amenities</h3>
				<h4>&nbsp;</h4>
				<ul class="popover pt-20">
					{%- for amenity in amenities -%}
					<li><label><input class="px-right-10" data-id="{{amenity.id}}" data-name="{{amenity.name}}" type="checkbox">{{ amenity.name }}</label></li>
					{% endfor %}
				</ul>
			</div>
			<button>Search</button>
		</section>

		<section class="places">
			<h1 class="fs-30">Places</h1>
			<div class="place-cards">
				{% for place in places %}
				<article class="dip-inl-blo">
					<div class="cle-bot">
						<div class="fs-30 flo-lef w-70pc">
							<h2 class="fs-30 flo-lef">{{place.name}}</h2>
						</div>
						<div class="price_by_night flo-rig">
							<p class="mt-23pc">${{place.price_by_night}}</p>
						</div>
					</div>
					<div class="information">
						<div class="max_guest">
							<div class="icon_group"></div>
							{{place.max_guest}} Guest
						</div>
						<div class="number_rooms">
							<div class="icon_bed"></div>
							{{place.number_rooms}} bedroom
						</div>
						<div class="number_bathrooms">
							<div class="icon_bath"></div>
							{{place.number_bathrooms}} bathroom
						</div>
					</div>
					<div class="user">
						<p><b>Owner:</b> {{ place.user.first_name}} {{ place.user.last_name }}</p>
					</div>
					<div class="description">
						<p>
							{{ place.description|safe }}
						</p>
					</div>
				</article>
				{% endfor %}
			</div>
		</section>
	</div>
	<!-- end container -->
</div>
	<footer>
		<p>Holberton School</p>
	</footer>
</body>
</html>
